<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewpoint" content="width=device-width, initial-scale=1">

  <link href="../html/css/reset.css"  rel="stylesheet">
  <link href="../html/css/font.css"   rel="stylesheet" type="text/css">
  <link href="../html/css/style.css"  rel="stylesheet">
  <script src="../html/js/modernizr.js"></script>
</head>
<body>
</body>
</html>
